<div class="container my-5">
  <!-- Libros Favoritos -->
  <h2 class="text-center mb-4 display-4 text-primary">Libros Favoritos</h2>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let libro of libros">
      <div class="card h-100 shadow-sm">
        <img [src]="libro.imagen" class="card-img-top" [alt]="libro.titulo">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ libro.titulo }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Autor: {{ libro.autor }}</h6>
          <p class="card-text">{{ libro.descripcion }}</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-outline-primary" (click)="imprimirLibro(libro)">Imprimir</button>
          <button class="btn btn-outline-danger" (click)="eliminarDeFavoritos(libro)">Eliminar de Favoritos</button>
        </div>
      </div>
    </div>
  </div>
</div>
