.main {
  background-image: url("/assets/img/fondo1.jpg");
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;

}

#footer {
  background-color: #005319 !important;
}
