.logo {
  background-image: url("../../../../shared/img/logo.png");
  background-size: cover;
  background-position: center;
  padding: 30px 100px;
  margin-bottom: 50px;
}
#sidebar{
  position: fixed;
}

